<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64</string>
				<string>v64</string>
				<string>z64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sixtyforce-cartridge.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo 64 cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>64ce</string>
				<string>n64data</string>
				<string>n64mempack</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sixtyforce-data.icns</string>
			<key>CFBundleTypeName</key>
			<string>sixtyforce data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
				<string>Data</string>
				<string>Pack</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64freeze</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sixtyforce-freeze.icns</string>
			<key>CFBundleTypeName</key>
			<string>sixtyforce game freeze</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Free</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64plugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sixtyforce-plugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>sixtyforce plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>N64P</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64save</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sixtyforce-save.icns</string>
			<key>CFBundleTypeName</key>
			<string>sixtyforce game save</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Save</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>sixtyforce</string>
	<key>CFBundleIconFile</key>
	<string>sixtyforce-application.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.Gerrit.sixtyforce</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sixtyforce</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.7</string>
	<key>CFBundleSignature</key>
	<string>64ce</string>
	<key>CFBundleVersion</key>
	<string>0.9.7</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12C37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2012 Gerrit Goossen. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>main</string>
	<key>NSPrincipalClass</key>
	<string>SFApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo 64 cartridge</string>
			<key>UTTypeIconFile</key>
			<string>sixtyforce-cartridge.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.gerrit.sixtyforce.cartridge</string>
			<key>UTTypeReferenceURL</key>
			<string>http://sixtyforce.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CART</string>
				<key>public.filename-extension</key>
				<array>
					<string>n64</string>
					<string>v64</string>
					<string>z64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>sixtyforce game freeze</string>
			<key>UTTypeIconFile</key>
			<string>sixtyforce-freeze.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.gerrit.sixtyforce.freeze</string>
			<key>UTTypeReferenceURL</key>
			<string>http://sixtyforce.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Free</string>
				<key>public.filename-extension</key>
				<array>
					<string>n64freeze</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>sixtyforce game save</string>
			<key>UTTypeIconFile</key>
			<string>sixtyforce-save.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.gerrit.sixtyforce.save</string>
			<key>UTTypeReferenceURL</key>
			<string>http://sixtyforce.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Save</string>
				<key>public.filename-extension</key>
				<array>
					<string>n64save</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
